<div class="panel panel-primary">
    <div class="panel-heading">Registro Encuesta</div>
    <div class="panel-body">
    <form class="form-horizontal" ng-submit="iniciarEncuesta()">
        <div class="form-group">
            <label class="col-sm-2 control-label">Distrito:</label>
            <div class="col-sm-10">
                <select name="distrito" ng-model="distrito" ng-options="distrito.nombre  for distrito in distritos" required="required" title="Seleccione Distrito">
                    <option value="">--Seleccione--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Correo:</label>
            <div class="col-sm-10">
                <input name="amount" type="email" title="Ingrese su correo electronico" required="required" ng-model="encuesta.email" />
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <!--a ui-sref="accounts" class="btn btn-small btn-primary">Cancel</a-->
                <input type="submit" class="btn btn-small btn-primary" value="Iniciar Encuesta"></input>
            </div>
        </div>
    </form>
    </div>
    <div class="panel-footer" ng-show="response.resultado == 'ERROR'">
    	<div class="alert alert-danger" role="alert">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  			{{response.mensaje}}
		</div>
    </div>
</div>